<!--
  Generated template for the AsignacionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Asignaciones</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="agregarTema()" [formGroup]="formAsignacion">
    <ion-item>
      <ion-label>Familia</ion-label>
      <ion-select formControlName="tipo"
                   (ionChange)="establecerTipo()"
                   okText="Ok" cancelText="Cancelar">
                   <ion-option value="estudiantil">Estudiantil</ion-option>
                   <ion-option value="otra">Otra</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="formHermano.controls['tipo'].value=='estudiantil'">
      <ion-label>Con ayudante</ion-label>
      <ion-toggle formControlName="ayudante"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Tiene titulo</ion-label>
      <ion-toggle formControlName="tituloSecundario"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Duracion fija</ion-label>
      <ion-toggle formControlName="duracionFija"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="formHermano.controls['duracionFija'].value">
      <ion-label floating>Duracion</ion-label>
      <ion-input formControlName="duracion"
       type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="formHermano.controls['tipo'].value=='otra'">>
      <ion-label>Solo siervos nombrados</ion-label>
      <ion-toggle formControlName="siervosNombrados"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="formHermano.controls['tipo'].value=='otra' && formHermano.controls['siervosNombrados'].value">>
      <ion-label>Solo siervos nombrados</ion-label>
      <ion-toggle formControlName="ancianos"></ion-toggle>
    </ion-item>
    <br>
    <button [disabled]="formAsignacion.invalid"
     ion-button outline round block type="submit">Agregar</button>
  </form>
</ion-content>
