<!--
  Generated template for the NuevaFamiliaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Familias {{authProvider.currentUser.congregacion}}</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="dismiss()">
          <ion-icon ios="ios-close" md="md-close"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #formNewFamily="ngForm" (ngSubmit)="agregarFamilia(formNewFamily,this)">
    <ion-item>
      <ion-label floating>Apellido</ion-label>
      <ion-input [(ngModel)]="familia.apellido"
       required
       name="apellido"
       type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Domicilio</ion-label>
      <ion-input [(ngModel)]="familia.domicilio"
       required
       name="domicilio"
       type="text"></ion-input>
    </ion-item>
    <button [disabled]="formNewFamily.invalid"
     ion-button outline round block type="submit">Agregar</button>
  </form>
  <br>
  <ion-list *ngIf="familias.length>0">
    <ion-item-group>
      <ion-item-divider><h2>Familias existentes<small>({{familias.length}})</small></h2></ion-item-divider>
      <ion-item *ngFor="let familia of familias">
        <h4>{{familia.apellido}}</h4>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
