<!--
  Generated template for the NuevaFamiliaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Familias {{congregacion}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="formFamilia">
    <ion-item>
      <ion-label floating>Apellido</ion-label>
      <ion-input formControlName="apellido"
       type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Domicilio</ion-label>
      <ion-input formControlName="domicilio"
       type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Telefono fijo</ion-label>
      <ion-input formControlName="telefono"
       type="number"></ion-input>
    </ion-item>
    <button *ngIf="operacion=='create'" [disabled]="formFamilia.invalid"
     ion-button outline round block type="button" (click)="agregarFamilia()">
     Agregar
    </button>
    <button *ngIf="operacion=='update'" [disabled]="formFamilia.invalid"
     ion-button outline round block type="button" (click)="actualizarFamilia()">
     Modificar
    </button>
  </form>
  <br>
  <ion-list *ngIf="familias.length>0">
    <ion-item-group>
      <ion-item-divider><h2>Familias existentes<small>({{familias.length}})</small></h2></ion-item-divider>
      <ion-item-sliding *ngFor="let fam of familias">
        <ion-item (click)="cargarFam(fam)">
          {{fam.apellido}}
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="danger" (click)="confirmarEliminar(fam)">
            <ion-icon name="trash"></ion-icon>
            Borrar
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
  <ion-fab right bottom *ngIf="operacion=='update'">
    <button ion-fab (click)="resetForm()" type="button"> <ion-icon ios="ios-add" md="md-add"></ion-icon></button>
  </ion-fab>
</ion-content>
