<!--
  Generated template for the NuevaSemanaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Nueva Semana </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="dismiss()">
          <ion-icon ios="ios-close" md="md-close"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Desde</ion-label>
    <ion-datetime doneText="Listo" cancelText="Cancelar" (ionChange)="actualizarFecHasta()" displayFormat="DD/MM/YYYY" [min]="primerLunes" [max]="fechaMaxima" [(ngModel)]="myDate">
    </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Hasta:</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" disabled [(ngModel)]="hastaFecha">
    </ion-datetime>
  </ion-item>
  <form (ngSubmit)="agregarAsignaciones()" [formGroup]="formTemas">
    <ion-item-group *ngFor="let reunion of REUNIONES">
      <ion-item-divider color="light"><h2>{{reunion.nombre}}</h2></ion-item-divider>
      <ion-item *ngFor="let tema of reunion.temas">
        <ion-label>{{tema.nombre}}</ion-label>
        <ion-toggle [disabled]="tema.default" [formControlName]="tema.tid"></ion-toggle>
      </ion-item>
    </ion-item-group>
    <br>
    <button *ngIf="operacion=='create'" [disabled]="formTema.invalid"
     ion-button outline round block type="submit">Agregar</button>
  </form>
  <button type="button" ion-button block outline round (click)="agregarSemana(this)">Agregar semana</button>
</ion-content>
