<!--
  Generated template for the TemaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="operacion=='create'">Nuevo Tema</ion-title>
    <ion-title *ngIf="operacion=='update'">{{ formTema.controls['nombre'].value}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="agregarTema()" [formGroup]="formTema">
    <ion-item>
      <ion-label>Reunion</ion-label>
      <ion-select formControlName="reunion"
                   okText="Ok" cancelText="Cancelar">
                   <ion-option [value]="reunion.value" *ngFor="let reunion of REUNIONES">{{reunion.nombre}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="formTema.controls['reunion'].value=='tesoros' || formTema.controls['reunion'].value=='maestros'">
      <ion-label>Tipo</ion-label>
      <ion-select formControlName="tipo"
                   okText="Ok" cancelText="Cancelar">
                   <ion-option value="estudiantil">Estudiantil</ion-option>
                   <ion-option value="otra">Otra</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Nombre</ion-label>
      <ion-input formControlName="nombre"
       type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Siempre presente</ion-label>
      <ion-toggle formControlName="default"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="formTema.controls['tipo'].value=='estudiantil'">
      <ion-label>Con ayudante</ion-label>
      <ion-toggle formControlName="ayudante"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Tiene titulo</ion-label>
      <ion-toggle formControlName="tituloSecundario"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Tiene observaciones</ion-label>
      <ion-toggle formControlName="observaciones"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Duracion fija</ion-label>
      <ion-toggle formControlName="duracionFija"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="formTema.controls['duracionFija'].value">
      <ion-label floating>Duracion</ion-label>
      <ion-input formControlName="duracion"
       type="number"></ion-input>
    </ion-item>
    <ion-item *ngIf="formTema.controls['tipo'].value=='otra'">>
      <ion-label>Solo siervos nombrados</ion-label>
      <ion-toggle formControlName="siervosNombrados"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="formTema.controls['tipo'].value=='otra' && formTema.controls['siervosNombrados'].value">>
      <ion-label>Solo ancianos</ion-label>
      <ion-toggle formControlName="ancianos"></ion-toggle>
    </ion-item>
    <br>
    <button *ngIf="operacion=='create'" [disabled]="formTema.invalid"
     ion-button outline round block type="submit">Agregar</button>
  </form>
  <ion-fab right bottom *ngIf="operacion=='update' && cambioF && formTema.dirty && formTema.valid">
    <button ion-fab (click)="actualizarTema()" type="button"> <ion-icon ios="ios-create" md="md-create"></ion-icon></button>
  </ion-fab>
</ion-content>
